<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/login.css">
</head>
<body>
    <div class="form">
        <form action="/login" method="post">
            <div>
                <label for="">Email</label>
                <input type="email" name="email" id="email" placeholder="Email">
            </div>
            <br>
            <div>
                <label for="">Password</label>
                <input type="password" name="Password" id="Password" placeholder="Password">
            </div>
             <div>
                <button type="submit" id="login">login</button>
             </div>
             <div>
                <a href="./signUp">SignUp</a>
             </div>
        </form>
    </div>
    
</body>
</html>
